<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185168480607-jn2acc5k4ok8cm1pm9csi28d8t1i4dbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185168480607-jn2acc5k4ok8cm1pm9csi28d8t1i4dbh</string>
	<key>API_KEY</key>
	<string>AIzaSyAYbRTTWKHO9C-FtSrdnFzWojqRQz2UdPg</string>
	<key>GCM_SENDER_ID</key>
	<string>185168480607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Duxxless.FirebaseToDo</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-d0ac6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-d0ac6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185168480607:ios:a1b7495c46f578eefb8eea</string>
</dict>
</plist>